<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <deny roles="Supervisor" />
            <deny roles="Sales Assistant" />
          <deny roles="Assistant Engineer" />
          <deny roles="Engineer" />
            <deny roles="Industrial Trainee" />
            <deny roles="Marketing Officer" />
                       <deny roles="Accounts Clerk" />
            <deny roles="Accounting Officer" />
            <deny roles="Software Developer" />
        </authorization>
    </system.web>
</configuration>