<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="18.1.0" targetFramework="net40" />
  <package id="AjaxMin" version="4.97.4951.28483" targetFramework="net40" />
  <package id="App_BrowsersUpdate" version="1.0" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.40804.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Data.Edm" version="5.2.0" targetFramework="net40" />
  <package id="Microsoft.Data.OData" version="5.2.0" targetFramework="net40" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.8.0.0" targetFramework="net40" />
  <package id="Neodynamic.SDK.WebClientPrint" version="2.0.2013.1009" targetFramework="net40" />
  <package id="Neodynamic.SDK.WebClientPrint.Sample.WebForms.VB" version="2.0.2013.1106" targetFramework="net40" />
  <package id="System.Spatial" version="5.2.0" targetFramework="net40" />
  <package id="WindowsAzure.Storage" version="2.1.0.3" targetFramework="net40" />
</packages>