<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
           <deny roles="Supervisor" />
          <deny roles="Accountant" />
          <deny roles="Accounting Officer" />
          <deny roles="Accounts Clerk" />
          <deny roles="Sales Assistant" />
          <deny roles="Industrial Trainee" />
          <deny roles="Technical Assistant" />
          <deny roles="Marketing Officer" />
          <deny roles="Assistant Engineer" />
          <deny roles="Engineer" />
        </authorization>
    </system.web>
</configuration>