<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <deny roles="Industrial Trainee" />
            <deny roles="Marketing Officer" />
            <deny roles="Sales Assistant" />
            <deny roles="Supervisor" />
          <deny roles="Assistant Engineer" />
          <deny roles="Engineer" />
        </authorization>
    </system.web>
</configuration>