<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
      <authorization>
        <deny roles="Accountant" />
        <deny roles="Accounting Officer" />
        <deny roles="Accounts Clerk" />
        <deny roles="Supervisor" />
        <deny roles="Sales Assistant" />
        <deny roles="Industrial Trainee" />
        <deny roles="Marketing Officer" />
        <deny roles="Assistant General Manager" />
        <deny roles="General Manager" />
        <deny roles="Manager" />
      </authorization>
    </system.web>
</configuration>