<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="Sales Assistant" />
          <deny roles="Assistant Engineer" />
          <deny roles="Engineer" />
            <allow roles="Industrial Trainee" />
            <allow roles="Accountant" />
            <allow roles="Accounts Clerk" />
            <allow roles="Accounting Officer" />
            <allow roles="Marketing Officer" />
        </authorization>
    </system.web>
</configuration>