/* Text styles */
.xr_s0 {font-family:Arial;font-size:39px;font-weight:bold;font-style:normal;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.xr_s1 {font-family:Arial;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;color:#000000;letter-spacing:0.0em;}
